<body>
<section class="contenedor-comentarios">
    <div class="area-comentar">
        <div class="avatar">
            <img src="../../../../assets/img/aptitud.jpg" alt="img">
        </div>
        <form action="#" method="post" class="inputs-comentarios">
            <textarea name="" class="area-comentario"></textarea>
            <div class="botones-comentar">
                <div class="boton-subir-archivo">
                    <label class="boton-file" for="adjuntar">
                        <i class="far fa-image"></i>
                        Adjuntar archivo
                    </label>
                    <input type="file" name="" value="" placeholder="" id="adjuntar">
                </div>
                <button class="boton-enviar" type="sutmit">
                    <i class="fas fa-paper-plane"></i>
                    Enviar
                </button>
            </div>
        </form>
    </div>
    <div class="publicacion-realizada">
        <div class="usuario-publico">
            <div class="avatar">
                <img src="../../../../assets/img/civil.jpg" alt="img">
            </div>
            <div class="contenido-publicacion">
                <h4>Carolina de la valle</h4>
                <ul>
                    <li>Hace 3 min</li>
                </ul>
            </div>
            <div class="menu-comentario">
                <i class="fas fa-pen"></i>
                <ul class="menu">
                    <li><a href="">Editar</a></li>
                    <li><a href="">Eliminar</a></li>
                </ul>
            </div>
        </div>
        <p>Te voy a contar por qué estudié biología, qué ha significado para mí estudiar biología y en definitiva, qué he hecho para llegar hasta aquí para vivir de ello.
            Además de lo que ya te he dicho a nivel personal, me abrió la mente: no sólo los animales son interesantes, sino que absolutamente TODA LA VIDA lo es.  

Plantas, hongos, bacterias, ecosistemas, genética… todo funciona de una manera fascinante y hermosa, e incluso las preguntas sin respuesta esconden cosas increíbles.

La Biología, como cualquier otra temática por la que sientas pasión, acaba siendo un estilo de vida, de ver el mundo, más que algo que estudias para tener luego un trabajo.

Pero no me extenderé aquí en mostrar mi amor por la Biología, tengo un blog entero en el que hago justamente eso

        </p>
        <div class="archivo-publicado">
            <img src="../../../../assets/img/ambiental.jpg" alt="img">
        </div>
        <div class="botones-comentario">
            <button type="" class="boton-puntuar">
                <i class="fas fa-thumbs-up"></i>
                45
            </button>
            <button type="" class="boton-responder">
                Comentar
            </button>
        </div>
    </div>
    <div class="comentarios-usuarios">
        <!-- comentario principal -->
        <div class="comentario-principal-usuario">
            <div class="avatar">
                <img src="../../../../assets/img/periodismo.jpg" alt="img">
            </div>
            <div class="comentario">
                <div class="usuario-comentario">
                    <div class="texto">
                        <a href="#" title="" class="nombre-usuario">Camila valle</a> Gracias por contarnos tu experiencia, seguire investigando.
                        <div class="menu-comentario">
                            <i class="fas fa-pen"></i>
                            <ul class="menu">
                                <li><a href="">Editar</a></li>
                                <li><a href="">Eliminar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="botones-comentario">
                        <button type="" class="boton-puntuar">
                            <i class="fas fa-thumbs-up"></i>
                            5
                        </button>
                        <button type="" class="boton-responder">
                            responrder
                        </button>
                        <span class="tiempo-comentario">
                            hece 3 min
                        </span>
                    </div>
                </div>

                <!-- contenedor sub comentarios -->
                <div class="contenedor-sub-comentarios">
                    <!-- sub-comentario uno -->
                    <div class="comentario-principal-usuario">
                        <div class="avatar">
                            <img src="../../../../assets/img/politica.jpg" alt="img">
                        </div>
                        <div class="comentario">
                            <div class="usuario-comentario">
                                <div class="texto">
                                    <a href="#" title="" class="nombre-usuario">Estevan Hernandez</a>Muchas gracias por tu aporte carolina!!
                                    <div class="menu-comentario">
                                        <i class="fas fa-pen"></i>
                                        <ul class="menu">
                                            <li><a href="">Editar</a></li>
                                            <li><a href="">Eliminar</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="botones-comentario">
                                    <button type="" class="boton-puntuar">
                                        <i class="fas fa-thumbs-up"></i>
                                        12
                                    </button>
                                    <button type="" class="boton-responder">
                                        responrder
                                    </button>
                                    <span class="tiempo-comentario">
                                        hece 3 min
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="comentar-publicacion">
            <div class="avatar">
                <img src="../../../../assets/img/ambiental.jpg" alt="img">
            </div>
           <form action="#" method="post" class="comentar-comentario">
               <input type="text" name="" value="" placeholder="">
               <button type="" class="boton-enviar">
                   <i class="fas fa-paper-plane"></i>
               </button>
           </form>
        </div>
        
    </div>
</section>

<style>
.mensaje a {
    color: inherit;
    margin-right: .5rem;
    display: inline-block;
}
.mensaje a:hover {
    color: #309B76;
    transform: scale(1.4)
}
</style>
</body>
