<h1 class="title">Conoce mas sobre tu carrera!</h1>
    
    <div class="container">
       
        <div class="card">
            <img src="../../../assets/img/economia.jpg">
            <h4>Administración </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#" href="https://pregrado.upc.edu.pe/facultad-de-economia/ciencias-politicas/" target="_blank">Leer más</a>
        </div>
        
        <div class="card">
            <img src="../../../assets/img/psicologia.jpg">
            <h4>Psicología</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#" href="https://pregrado.upc.edu.pe/facultad-de-psicologia/psicologia/" target="_blank">Leer más</a>
        </div>
        
        <div class="card">
            <img src="../../../assets/img/derecho.jpg">
            <h4>Derecho</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#" href="https://pregrado.upc.edu.pe/facultad-de-derecho/derecho/"target="_blank">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/periodismo.jpg">
            <h4>Comunicación y periodismo</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/politica.jpg">
            <h4>Ciencias políticas</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/arquitectura.jpg">
            <h4>Arquitectura y urbanismo</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/civil.jpg">
            <h4>Construcción e ingeniería civil</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/comida.jpg">
            <h4>Industria de la alimentación</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/quimica.jpg">
            <h4>Ingeniería química</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/ambiental.jpg">
            <h4>Ciencias ambientales</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/fisica.jpg">
            <h4>Física</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
        <div class="card">
            <img src="../../../assets/img/medicina.jpg">
            <h4>Medicina</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel, excepturi unde?</p>
            <a href="#">Leer más</a>
        </div>
    </div>
    
